*{box-sizing:border-box;font-family:Arial;}

body{
margin:0;
min-height:100vh;
background:linear-gradient(135deg,#6a11cb,#2575fc);
display:flex;
justify-content:center;
align-items:center;
}

.app{
background:#0f172aee;
color:white;
display:flex;
width:90%;
max-width:1100px;
border-radius:15px;
box-shadow:0 15px 40px rgba(0,0,0,0.4);
}

/* Sidebar */
.sidebar{
width:250px;
padding:20px;
border-right:1px solid rgba(255,255,255,0.2);
}

.menu button{
width:100%;
margin:8px 0;
padding:10px;
border:none;
border-radius:8px;
cursor:pointer;
}

.menu .active{
background:linear-gradient(to right,#ff512f,#dd2476);
color:white;
}

.sidebar li{
background:#1e293b;
padding:8px;
border-radius:6px;
margin-bottom:6px;
display:flex;
justify-content:space-between;
}

.sidebar li span{
cursor:pointer;
color:#ff6b6b;
}

.new-category{
display:flex;
gap:6px;
margin-top:10px;
}

.new-category input{flex:1;padding:6px;border-radius:5px;border:none;}
.new-category button{background:#22c55e;border:none;border-radius:5px;color:white;padding:6px;}

/* Main */
.main{flex:1;padding:30px;}
.hidden{display:none;}

.stats{display:flex;gap:20px;margin:20px 0;}
.stats div{background:#1e293b;padding:15px;border-radius:10px;text-align:center;}

.task-form{
display:flex;
flex-wrap:wrap;
gap:8px;
margin-bottom:20px;
}

.task-form input,select{
padding:6px;border-radius:6px;border:none;
}

.task-form button{
background:#facc15;border:none;border-radius:6px;padding:6px 12px;
}

#taskList li{
padding:12px;
border-radius:12px;
margin-bottom:10px;
display:flex;
justify-content:space-between;
align-items:center;
color:black;
}

.task-right{display:flex;gap:10px;}

.done{text-decoration:line-through;opacity:0.6;}

.delete-btn{
background:#ef4444;border:none;border-radius:6px;color:white;padding:4px 8px;
}